:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header{
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);

}

.header_nav{
    display: flex;
}

.nav_link{
    color: var(--color-grey);
    padding: 28px 18px 22px;
    text-transform: uppercase;
    font-size: 0.6875rem;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.205rem;
}

.nav_link:hover{
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav_element{
    padding: 0 26px;
    /*długość lini podkreślającej*/
}

.nav_element:last-child{
    padding-right: 0;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_content{
    margin-top: 130px;
    text-align: center;
}

.banner_title{
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}

.banner_text{
    margin-top: 20px;
    margin-bottom: 38px;
}

.banner img{
    width: 100%;
    height: auto;
}

.btn{
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary{
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.btn--large{
    padding: 22px 157px;
}

.stats{
    margin-top: 100px;
}

.stats_container{
    max-width: 800px;
    margin: 100px auto 120px ;
    display: flex;
    justify-content: space-between;
}

h2{
    font-family: var(--font-raleway);
    font-size: 2.25rem;
    text-align: center;
}

.stats_single{
    max-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.stats_circle{
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.stats_image{
    position: absolute;
}

.stats_single:nth-child(1) .stats_circle{
    background-color: var(--color-redish);
}

.stats_single:nth-child(1) .stats_image{
    top: 0;
    left: 45%;
}

.stats_single:nth-child(2) .stats_circle{
    background-color: var(--color-primary);
}

.stats_single:nth-child(2) .stats_image{
    top: 14px;
    left: 47%;
}

.stats_single:nth-child(3) .stats_circle{
    background-color: var(--color-green);
}

.stats_single:nth-child(3) .stats_image{
    top: 6px;
    left: 50%;
}

.stats_number{
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.3725rem;
    margin-top: 14px;
}

.stats_description{
    color: var(--color-grey);
    margin-top: 19px;
}

.benefits{
    padding: 100px 0;
    background-color: var(--color-light-grey);
}

.benefits_box{
    padding: 100px 0;
}

.benefits_single{
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
}

.benefits_text{
    max-width: 416px;
    margin: 91px 35px;
}

.benefits_text h2{
    text-align: left;
}

.benefits_text:after{
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.benefits_description{
    margin-top: 30px;
    line-height: 1.375rem;
}

.benefits_image{
    position: relative;
}

.benefits_image img{
    position: relative;
    z-index: 2;
}

.benefits_single--notebook{
    --accent-color: var(--color-redish) ;
}

.benefits_single--notebook .benefits_image{
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits_single--notebook .benefits_image:before{
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits_single--notebook .benefits_image img{
    width: 386px;
    height: 220px;
}

.benefits_single--phone{
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}

.benefits_single--phone .benefits_image:before{
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits_single--phone .benefits_image img{
    width: 426px;
    height: 328px;
}

.benefits_single--phone .benefits_text{
    margin: 70px 0;
}

.benefits_double{
    display: flex;
    --accent-color: var(--color-green);
}

.benefits_double > div{
    margin-bottom: 0;
}

.benefits_single--solo {
    max-width: 620px;
}

.benefits_single--solo .benefits_text {
    max-width: none;
    margin: 70px 35px;
}

.benefits_single--image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.benefits_single--image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

.pricing{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing_boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.pricing_box{
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent-color);
}

.pricing_details{
    margin-top: 34px;
    margin-bottom: 81px;
    text-align: center;
}

.pricing_type{
    font-size: 1.25rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricing_price{
    font-size: 2.875rem;
    font-family: var(--font-open-sans);
    font-weight: 300;
    margin-top: 14px;
    color: var(--accent-color);
}

.limited{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 0.75rem;
    font-family: var(--font-raleway);
    font-weight: 700;
}

.pricing_items{
    text-align: center;
}

.pricing_item{
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing_item::before{
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background: url("../images/Ckechmark-1.svg");
}

.pricing_item--not::before{
    background: url("../images/Close.svg");
}

.pricing_box .btn--basic{
    position: relative;
    bottom: -84px;
    font-size: 0.8125rem;
    background-color: var(--accent-color);
}

.pricing_box .btn--professional{
    position: relative;
    bottom: -93px;
    font-size: 0.8125rem;
    background-color: var(--accent-color);
}

.pricing_box .btn--premium{
    position: relative;
    bottom: -80px;
    font-size: 0.8125rem;
    background-color: var(--accent-color);
}

.pricing_box--basic{
    --accent-color: var(--color-redish);
    width: 372px;
    height: 461px ;
}

.pricing_box--basic .pricing_price{
    margin-bottom: 69px;
}

.pricing_box--professional{
    --accent-color: var(--color-primary);
    width: 405px;
    height: 500px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing_box--professional .pricing_type{
    font-size: 1.3125rem;
}

.pricing_box--professional .pricing_item{
    margin-bottom: 25px;
}

.pricing_box--premium{
    --accent-color: var(--color-green);
    width: 372px;
    height: 461px;
}

.contact{
   padding: 80px 100px 100px;
   display: flex;
   justify-content: center;
}

.contact_column{
    width: 50%;
}

.contact_column h2{
    font-size: 3.0625rem;
    line-height: 3.6875rem;
    text-align: left;
    
}

.contact_instruction{
    margin: 22px 0 42px;
    font-size: 1rem;
    line-height: 1.375rem;
}

.contact_details {
    display: flex;
    justify-content: flex-start;
    color: var(--color-grey);
    align-items: center;
}

.details_item {
    color: var(--color-grey);
    font-weight: 500;
    text-decoration: none;
}

.details_item:first-of-type {
    margin-right: 20px;
}

.details_item img {
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form_field {
    display: flex;
    flex-direction: column;
}

.form_field:first-of-type {
    margin-bottom: 42px;
}

.form_label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}

.form_input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}

.form_consent{
    margin-top: 30px;
}

.form_checkbox{
    display: block;
    position: relative;
    padding-left: 34px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1.375rem;

}

.form_checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form_checkbox .checkbox{
    position: absolute;
    top: 3px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
}

.form_checkbox input:checked ~ .checkbox{
    background-image: url("../images/Checkmark.svg");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat ;
}

.check_text{
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.form .btn{
   align-self: flex-end;
    font-size: 0.8125rem;
    padding: 20px 97px;
    margin-top: 20px;
}












