:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header{
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo{
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);

}

.header_nav{
    display: flex;
}

.nav_link{
    color: var(--color-grey);
    padding: 28px 18px 22px;
    text-transform: uppercase;
    font-size: 0.6875rem;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.205rem;
}

.nav_link:hover{
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav_element{
    padding: 0 26px;
    /*długość lini podkreślającej*/
}

.nav_element:last-child{
    padding-right: 0;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_content{
    margin-top: 130px;
    text-align: center;
}

.banner_title{
    font-family: var(--font-raleway);
    font-size: 3.0625rem;
}

.banner_text{
    margin-top: 20px;
    margin-bottom: 38px;
}

.banner img{
    width: 100%;
    height: auto;
}

.btn{
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

.btn--primary{
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.btn--large{
    padding: 22px 157px;
}

.stats{
    margin-top: 100px;
}



